@import "../node_modules/bootstrap/scss/bootstrap.scss";
* {
    font-family: "Open Sans", sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #d7e1ec;
}

$bannercolor: rgb(29, 143, 236);
$blackoutline: 1px solid black;
$textwhite: whitesmoke;
$shadow: 2px 2px black;
$themedark: #36393f;
$themelight: #d9d9d9;
$textoutline: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
@mixin iconborderbar {
    border-radius: 50%;
    border: none;
    padding: 0.3em;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
        background-color: $themedark;
        transform: scale(1.1);
    }
}

.title {
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 4px solid $textwhite;
    background-color: $bannercolor;
    color: white;
    text-align: left;
    width: 100%;
    text-shadow: $shadow;
}
.link {
    position: fixed;
    top: 7px;
    right: 5px;
    background-color: $bannercolor;
    color: $textwhite;
    text-shadow: 1px 1px black;
}
.prg {
    position: relative;
    bottom: 20px;
    left: 5px;
    color: black;
    text-align: left;
    width: 99%;
}
.Files {
    cursor: pointer;
}
.button {
    position: absolute;
    top: 220px;
    left: 20px;
    background-color: $bannercolor;
    border: 1px solid black;
    color: $textwhite;
    padding: 9px 23px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}
#fileupload {
    position: relative;
    top: 220px;
    left: 50px;
}
.bar {
    margin: 0;
    padding: 21px;
    height: 37px;
    background-color: $themedark;
}
.darktheme {
    transition: all 0.4s ease-in-out;
    background-color: $themedark;
    color: white;
    .homepage {
        transition: all 0.4s ease-in-out;
        color: white;
    }
    .prg {
        text-shadow: $textoutline;
        transition: all 0.4s ease-in-out;
        color: white;
    }
    .title {
        transition: all 0.4s ease-in-out;
        border-bottom: 4px solid $themedark;
    }
    .bar {
        transition: all 0.4s ease-in-out;
        background-color: white;
    }
    #home {
        transition: all 0.4s ease-in-out;
        color: $themedark;
        &:hover {
            background-color: white;
        }
    }
    #user {
        transition: all 0.4s ease-in-out;
        color: $themedark;
        &:hover {
            background-color: white;
        }
    }
    #theme {
        transition: all 0.4s ease-in-out;
        color: $themedark;
        &:hover {
            background-color: white;
        }
    }
    .aboutme {
        transition: all 0.4s ease-in-out;
        color: white;
    }
    #aboutline {
        transition: all 0.4s ease-in-out;
        border: 1px solid $textwhite;
    }
    .table {
        transition: all 0.4s ease-in-out;
        background-color: $themelight;
    }
}

.lighttheme {
    transition: all 0.4s ease-in-out;
    background-color: #d7e1ec;
    color: black;
    .prg {
        transition: all 0.4s ease-in-out;
        color: black;
    }
    .title {
        transition: all 0.4s ease-in-out;
        border-bottom: 4px solid $textwhite;
    }
    .bar {
        transition: all 0.4s ease-in-out;
        background-color: $themedark;
    }
    #home {
        transition: all 0.4s ease-in-out;
        color: white;
    }
    #user {
        transition: all 0.4s ease-in-out;
        color: white;
    }
    #theme {
        transition: all 0.4s ease-in-out;
        color: white;
    }
    .homepage {
        transition: all 0.4s ease-in-out;
        color: black;
    }
    .aboutme {
        transition: all 0.4s ease-in-out;
        color: black;
    }
    #aboutheader {
        transition: all 0.4s ease-in-out;
        color: black;
    }
    .aboutme {
        transition: all 0.4s ease-in-out;
        color: black;
    }
    #aboutline {
        transition: all 0.4s ease-in-out;
        border: 1px solid $themedark;
    }
}
#home {
    font-size: 25px;
    @include iconborderbar;
    position: relative;
    left: 15px;
    bottom: 35px;
}
#user {
    font-size: 25px;
    @include iconborderbar;
    position: relative;
    left: 25px;
    bottom: 35px;
}
#theme {
    font-size: 25px;
    @include iconborderbar;
    position: relative;
    left: 35px;
    bottom: 35px;
}
#portfolio {
    font-size: 25px;
    @include iconborderbar;
    position: relative;
    left: 45px;
    bottom: 33px;
}
.mouseover {
    transition: all 0.4s ease-in-out;
    background-color: whitesmoke;
    transform: scale(1.2);
}
.mouseout {
    transition: all 0.4s ease-in-out;
    transform: scale(1);
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
#me {
    position: relative;
    bottom: -100px;
    left: 10px;
    height: 600px;
    border: 1px solid black;
}
.clickeffecton {
    transition: all 0.1s ease-in-out;
    background-color: $bannercolor;
}
.clickeffectoff {
    transition: all 0.1s ease-in-out;
    background-color: $themedark;
}
#aboutheader {
    text-align: left;
}
.aboutme {
    margin: 0.5em;
    text-align: left;
    font-size: 1.1em;
    position: relative;
    bottom: 640px;
}
#aboutline {
    position: relative;
    bottom: 30px;
    border: 1px solid $themedark;
}
#downloadlink {
    display: none;
}
.card.text-black {
    width: 100px;
}
#downloadbtn {
    position: relative;
    left: 250px;
    bottom: 38px;
}
#loggedintext {
    position: absolute;
    top: 10px;
    left: 89%;
    color: $textwhite;
}
#logoutbtn {
    position: absolute;
    top: 5px;
    left: 96%;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    #loggedintext,
    #logoutbtn {
        position: static;
        margin: 10px 0;
    }
}
.searchbar {
    position: absolute;
    top: 5px;
    left: 11%;
    width: 300px;
}
.searchresults {
    position: absolute;
    top: 5px;
    left: 28%;
    width: 300px;
}
.loginbackground {
    background-color: #eee;
}
#loginstyle {
    border-radius: 25px;
    width: 600px;
    margin: 0 auto;
}
.loginerror {
    font-size: small;
    width: 300px;
    position: relative;
    right: 50px;
}
.radio1 {
    position: relative;
    left: 205px;
    bottom: 32px;
}
.radio2 {
    position: relative;
    left: 285px;
    bottom: 58px;
}
.uploadbtn {
    position: relative;
    bottom: 90px;
    left: 115px;
}
.sticky {
    position: sticky;
}
.librarybtn {
    position: absolute;
    top: 5px;
    left: 45%;
}
#password {
    position: relative;
    bottom: 127px;
    left: 200px;
    width: 300px;
}
.searchformlibrary {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 54px;
    left: 240px;
    width: 300px;
}
#searchformlibrarytext {
    color: red;
    position: absolute;
    top: 60px;
    left: 570px;
}
.cursor {
    width: 30px;
    transition: all ease;
}
.bio {
    width: 20%;
}
nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}

.productpic {
    width: 300px;
    height: 300px;
}
#shopping-cart ul {
    display: none;
}

#shopping-cart:hover ul {
    display: block;
}
.weather-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30em;
    height: 20em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.input_text {
    margin-bottom: 10px;
    padding: 6px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.weather-info {
    margin-top: 20px;
    text-align: center;
}

h2,
p {
    margin: 8px 0;
}

.temp {
    font-weight: bold;
}

.clouds {
    color: #888;
}

/*# sourceMappingURL=styles.css.map */
